---
import "../styles/global.css";

const linksHeader = [
	{
		link: '#',
		text: 'Inicio'
	},
	{
		link: '#sobre-mi',
		text: 'Sobre mi'
	},
	{
		link: '#planes',
		text: 'Planes'
	},
	{
		link: '#servicios',
		text: 'Servicios'
	},
	{
		link: '#dudas-frecuentes',
		text: 'Dudas frecuentes'
	}
]
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap"
			rel="stylesheet"
		/>
		<link href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
		<title>Ame - Catsitter</title>
	</head>
	<body>
		<header class="bg-white z-50 fixed w-full top-0 h-20">
			<div
				class="container mx-auto flex items-center justify-between py-4 px-6"
			>
				<!-- Logo -->
				<a href="/" class="flex items-center font-bold gap-2 text-gray-700">
					<img
						src="https://framerusercontent.com/images/Ulwwvs81s6mcBJjBJpaq5TxNFBA.png?scale-down-to=512"
						alt="Logo"
						class="h-10 w-auto bg-red-300 rounded-4xl"
					/>
					Ame Catsitter
				</a>

				<!-- Navigation -->
				<nav class="hidden md:flex space-x-6">
					{
						linksHeader.map( link => (
							<a href={link.link} class='text-gray-600 text-sm hover:text-pink-400'>{link.text}</a>
						))
					}
				</nav>

				<!-- Contact Button -->
				<a
					href="#contact"
					class="hidden md:inline-block bg-pink-300 text-white font-semibold py-2 px-4 rounded-lg hover:bg-pink-400 hover:text-white transition"
				>
					Contáctame
				</a>

				<!-- Mobile Menu Button -->
				<button
					id="mobile-menu-button"
					class="md:hidden text-gray-700 focus:outline-none"
				>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						class="h-6 w-6"
						fill="none"
						viewBox="0 0 24 24"
						stroke="currentColor"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M4 6h16M4 12h16m-7 6h7"></path>
					</svg>
				</button>
			</div>

			<!-- Mobile Menu -->
			<div id="mobile-menu" class="md:hidden hidden bg-white">
				<nav class="flex flex-col space-y-4 py-4 px-6 text-center">
					{
						linksHeader.map( link => (
						<a href={link.link} class='text-gray-600 text-sm hover:text-pink-400'>{link.text}</a>
						))
					}
					<a
						href="#contact"
						class=" bg-pink-300 text-white font-semibold py-2 px-4 rounded-lg hover:bg-pink-400 hover:text-white transition self-center"
					>
						Contáctame
					</a>
				</nav>
			</div>
		</header>
		<main>
			<slot />
		</main>
		<script>
			const mobileMenuButton = document.getElementById("mobile-menu-button");
			const mobileMenu = document.getElementById("mobile-menu");

			mobileMenuButton?.addEventListener("click", () => {
				mobileMenu?.classList.toggle("hidden");
			});
		</script>
	</body>
</html>